/* 基本樣式設定 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

/* 標題樣式 */
h1 {
  background-color: #769FCD;
  color: white;
  padding: 20px;
  margin: 0;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #112D4E;
}

/* 外部容器樣式 */
#pic_container {
  display: block;
  justify-content: center;
  margin-top: 30px;
  /* 增加邊框 */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* 表單和結果容器樣式 */
#pic {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; /* 設置整體容器的寬度 */
}

/* 調整結果區域的寬度 */
#pic_result {
  margin-left: 20px;
  width: 50%;
}

#upload {
  width: 50%;
  margin-left: 20px;
}

/* 表單容器樣式 */
form {
  padding: 20px;
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

/* 表單標籤樣式 */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* 文件上傳輸入框樣式 */
input[type="file"] {
  display: block;
  margin-bottom: 20px;
  width: 91%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* 提交按鈕樣式 */
button {
  background-color: #769FCD;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #769FCD;
}

/* 結果區域樣式 */
pre {
  margin-top: 20px;
  padding: 25px;
  background-color: #eaeaea;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  font-size: 14px;
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; 
  border-radius: 8px;
}

/* 音頻錄製容器樣式 */
#audio_container {
  display: block;
  justify-content: center;
  margin-top: 30px;
  /* 增加邊框 */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

/* 音頻錄製按鈕樣式 */
#audio_container button {
  background-color: #769FCD;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

#audio_container button:hover {
  background-color: #5a82a1;
}

/* 音頻播放樣式 */
#audioPlayback {
  display: block;
  margin: 20px auto;
  width: 50%;
}

/* 音頻下載連結樣式 */
#downloadLink {
  margin-top: 20px;
  display: block;
  font-size: 16px;
  color: #112D4E;
  text-decoration: none;
  font-weight: bold;
}

#downloadLink:hover {
  color: #769FCD;
}
